@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

#content {
    background-color: #1d1d1d;
    width: 350px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.key, .opKey, #clear, #backSpace {
    width: 80px;
    height: 80px;
    font-size: 35px;
    box-sizing: border-box;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(66, 66, 66);
    transition: 0.3s;
}

.key:hover, #clear:hover, #backSpace:hover {
    border-color: rgb(18, 212, 0);
}

.opKey:hover {
    border-color: white;
}


#clear, #backSpace {
    width: 160px;
    margin-top: 20px;
}


.opKey {
    background-color: rgb(15, 15, 15);
    color: white;
}

#buttonsKeyboard {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#display {
    height: 100px;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
    font-weight: bolder;
    border-radius: 10px;
    color: rgb(0, 75, 0);
    font-family: "Calculator", Arial, Helvetica, sans-serif;
}

#displaySecondary {
    padding-left: 5px;
    padding-top: 5px;
    overflow-wrap: break-word;
    font-size: 15px;
    min-height: 25px;
}

#displayMain {
    overflow-wrap: break-word;
    min-height: 60px;
    font-size: 40px;
    
    padding-left: 2px;
}

.specialButtons {
    display: flex;
    justify-content: space-between;
}